# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# env files
.env
.env.*

# scratch files
/scratch/*

# pycache
__pycache__/*
*.pyc
*.pyo

# venv
venv/*
.venv/*

# Streamlit cache
.streamlit/
